$blue: rgb(0, 28, 168);
$whiteSee: rgba(255, 255, 255, 0.3);
$black: black;
$red: rgb(187, 19, 19);


@keyframes bGroundAnimation1 {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        transform-origin: bottom;
        background-color: white;
        opacity: 1;
    }
}

@keyframes bGroundAnimation2 {
    0% {
        transform: scaleY(1);
        transform-origin: bottom;
        background-color: white;
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
}

@keyframes menuAnimation1 {//  kolor tła menu
    0% {
        transform: scaleY(0);
        transform-origin: top;
        background-color: white;
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        transform-origin: top;
        background-color: rgb(119, 119, 119);
        opacity: 1;
    }
}

@keyframes menuAnimation2 {
    0% {
        transform: scaleY(1);
        transform-origin: top;
        background-color: white;
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
        background-color: white;
        opacity: 0;
    }
}

@keyframes popupAnimation1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}

@keyframes popupAnimation2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    } 
}

@keyframes plane {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cities1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cities2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popupAnimation1 {
    animation: popupAnimation1 0.2s forwards;
    display: block !important;
}

.popupAnimation2 {
    animation: popupAnimation2 0.2s forwards;
    display: block !important;
}

.bGroundAnimation1 {
    animation: bGroundAnimation1 0.2s forwards;
}

.bGroundAnimation2 {
    animation: bGroundAnimation2 0.2s forwards;
}

.menuAnimation1 {
    animation: menuAnimation1 0.2s forwards;
    display: block !important;
}

.menuAnimation2 {
    animation: menuAnimation2 0.2s forwards;
    display: block !important;
}

.citiesAnimation1 {
    animation: cities1 0.2s forwards;
    display: block !important
}

.citiesAnimation2 {
    animation: cities2 0.2s forwards;
    display: none !important
}

.whiteBG {
    background-color: white !important;
    cursor: default !important;
}

a {
    text-decoration: none;
    color: inherit; 
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none; 
}

.blue {
    color: $blue !important;
}

.displayNone {
    display: none !important;
}


//  Container
.container {
    background-color: rgb(145, 145, 145);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .slides {
        animation: plane 10s infinite;

        .plane {
            max-height: 91vh;
            width: 100%;
        }
    }
    
    .onSlides {
        width: 85vw;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        z-index: 2;// ma byc 2

        .menu {
            display: flex;
            height: 30%;
            user-select: none;

            .menu1 {
                background-color: $whiteSee;
                cursor: pointer;

                .plane {
                    width: 30px;
                }
            }

            .menu2 {
                background-color: $whiteSee;
                cursor: pointer;

                .bed {
                    width: 30px;
                }
            }

            .menu3 {
                background-color: $whiteSee; 
                cursor: pointer;

                .car {
                    width: 30px;
                }
            }
        }
        
        .onSlidesIn {
            background-color: white;
            position: absolute;
            bottom: 0px;
            height: 70%;
            width: 100%;

            .onSLidesInCont1 {

                .radioBtns {
                }

                .inputs {
                    width: 1000px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    position: relative;
                    border: solid 1px red;
                    
                    .input {
                    }

                    .cities {
                        width: 300px;
                        height: 400px;
                        background-color: white;
                        overflow-y: scroll;
                        display: none;                        
                        position: absolute;
                        top: 100%; 

                        .city {
                            cursor: pointer;
                        }
                    }

                    .arrowLateral {}

                    .input2 {
                    }

                    .cities2 {
                        width: 300px;
                        height: 400px;
                        background-color: white;
                        overflow-y: scroll;
                        display: none;                        
                        position: absolute;
                        top: 100%;
                        left: 30%;

                        .city2 {
                            cursor: pointer;
                        }
                    }

                    .inputB {
                        resize: none;
                        user-select: none;
                    }

                    .arrowLateral {
                        height: 23px;
                        position: relative;
                    }

                    .input2 {
                    }
                }

                .calendar {
                    background-color: rgb(255, 255, 255);
                    border: solid 1px red;
                    width: 500px;
                    height: 300px;
                    position: relative;
                    top: 10px;
                    left: 510px;
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
}

//  Navbar
.nav {
    display: grid;
    //grid-template: 2/8;
    background-color: $blue;
    height: 65px;

    .logo {
        max-height: 25px;
        margin: 20px 150px 20px 30px;
        justify-self: start;
    }

    .navElement {
        display: flex;
        justify-content: center;
        text-align: center;
        align-self: center;
        color: rgb(255, 255, 255);
        cursor: pointer;
        user-select: none;
        position: relative;
        padding: 5px 0;
        margin: 0 10px;

        .navElemText {
            position: relative;
            z-index: 1;
            font-size: 12px;
            font-weight: 500;
            &:hover {
                text-decoration: underline; 
            }
        }
    }

    .navPop {
        grid-area: 1/2/1/2;
        min-width: 180px;

        .navPopText {
        }
        
        .dArrow, .upArrow {
            height: 12px;
            z-index: 1;
            margin: 2px 0 0 5px;

        }
    }
    
    .navPopActive {
        grid-area: 1/2/1/2;
        height: 65px;
    }

    .popMenu {
        grid-area: 2/1/2/10;
        height: calc(100vh - 65px);
        opacity: 0;
        display: none;
        grid-template: 2/4;
        z-index: 3;
               
        .popMenuTitle {
            border: solid 1px yellow;
            height: 100px;
            width: 800px;
            
        }

        .xRed1 {
            height: 50px;
            cursor: pointer;
            grid-area: 1/4/1/4;
            top: 40px;
            left: 1400px;
        }

        .destinations {
            display: flex;
            grid-area: 2/1/2/5;
            border: solid 1px red;
            
            .zachodnia {

                .dest {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .wschodnia {

                .dest {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .srodziemno {

                .dest {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .wschod {

                .dest {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .navHotel {
        grid-area: 1/3/1/3;
        min-width: 30px;
    }

    .navCar {
        grid-area: 1/4/1/4;
        min-width: 60px;
    }

    .navPlan {
        grid-area: 1/5/1/5;
        min-width: 60px;

        .dArrow, .upArrow {
            height: 12px;
            z-index: 1;
            margin: 2px 0 0 5px;
        }
    }

    .navPlanActive {
        grid-area: 1/5/1/5;
        height: 65px;
    }

    .planMenu {
        grid-area: 2/1/2/10;
        opacity: 0;
        display: none;
        z-index: 3;

        .planMenuTitle1 {

        }

        .xRed2 {

        }

        .planIcon {
            max-width: 60px;
        }
        
        .planOptions1 {



            .option1 {
                
                .airplanePlan {
                    
                }
            }
        }

        .planOptions2 {

        }
    }

    .navInfo {
        grid-area: 1/6/1/6;
        min-width: 130px;

        .dArrow, .upArrow {
            height: 12px;
            z-index: 1;
            margin: 2px 0 0 5px;
        }
    }

    .navInfoActive {
        grid-area: 1/6/1/6;
        height: 65px;
    }

    .infoMenu {
        grid-area: 2/1/3/10;
        opacity: 0;
        display: none;
        z-index: 3;

        .infoMenuTitle {

        }

        .infoList {
            display: flex;

            .infoListCol1 {

                .infoItem1 {
                    color: $red;                
    
                    .infoItem1title {
                        color: $blue;
                    }
                }
    
                .infoItem2 {
                    color: $red;
                   
                    .infoItem2title {
                        color: $blue;
                    }
                }
    
                .infoItem3 {
                    color: $red;
    
                    .infoItem3title {
                        color: $blue;
                    }
                }

            }

            .infoListCol2 {

                .infoItem4 {
                    color: $red;
    
                    .infoItem4title {
                        color: $blue;
                    }
                }
    
                .infoItem5 {
                    color: $red;
    
                    .infoItem5title {
                        color: $blue;
                    }
                }
            }

            .infoListCol3 {

                .infoItem6 {
                    color: $red;
    
                    .infoItem6title {
                        color: $blue;
                    }
                }

                .infoItem7 {
                    color: $red;
    
                    .infoItem7title {
                        color: $blue;
                    }
                }
            }

            .infoListCol4 {

                .infoItem8 {
                    color: $red;
    
                    .infoItem58title {
                        color: $blue;
                    }
                }

                .infoItem9 {
                    color: $red;
    
                    .infoItem9title {
                        color: $blue;
                    }
                }

                .infoItem10 {
                    color: $red;
    
                    .infoItem10title {
                        color: $blue;
                    }
                }
            }

            .infoItem6 {
                color: $red;

                .infoItem6title {
                    color: $blue;
                }
            }

            .infoItem7 {
                color: $red;

                .infoItem7title {
                    color: $blue;
                }
            }

            .infoItem8 {
                color: $red;

                .infoItem8title {
                    color: $blue;
                }
            }

            .infoItem9 {
                color: $red;

                .infoItem9title {
                    color: $blue;
                }
            }
        }
    }

    .navBrief {
        grid-area: 1/7/1/7;
        min-width: 130px;
    }

    .navLog {
        grid-area: 1/8/1/8;
        min-width: 60px;
    }

    .navLang {
        grid-area: 1/9/1/9;

        .gbflag {
            width: 25px;
        }
    }
        
    .briefPopup {
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        opacity: 0;
        display: none;
        z-index: 4; // ma zostac 4

        .briefPop1 {
            display: flex;

            .briefPop2 {

            }

            .xRed3 {
                height: 50px;
                cursor: pointer;
            }
        }

        .briefPop3 {

        }

        .briefPop4 {

        }

        .briefPop5 {

        }

        .briefPop6 {

            .briefPop7 {

            }

            .briefPop8 {

            }
        }
    }
    
}

.loginPopup {
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0;
    display: none;
    z-index: 4; // ma zostac 4

    .loginPopup1 {

        .loginPop2{

        }

        .xRed4 {
            height: 50px;
            cursor: pointer;
        }
    }

    .loginPopup3 {

    }

    .loginPopup4 {

        .loginPopup4a {

        }

        .eyePink {
            height: 20px;
            cursor: pointer;
            opacity: 60%;
        }

        .eye {
            height: 20px;
            cursor: pointer;
            opacity: 60%;
        }
    }
}

.activePopup {
    overflow-y: hidden;
}

.backgroundBrief {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 70%;
}

.backgroundFont {
    color: rgb(92, 92, 92);
    pointer-events: none;
}

.dArrow {
    height: 12px;
    color: white;
}

//Samochody

.navbarCars {
    background-color: $blue;
    height: 65px;

    .logo {
        max-height: 25px;
        margin-top: 20px;
        margin-left: 20px;
    }
}